/*style for navbar*/
.nav {
		text-align: center;   
		background-color: gray;
		width: auto;
		height: 60px;
		font-family: sans-serif;
		font-size: 40px;
		margin-top: 10px;
}

.nav li{
		display:inline;
		
}

.nav li a{
	     text-decoration: none;
	     color: purple;
}


.nav li a:hover{


	    text-decoration: underline;
}


h1 {
	text-align: center;
}

.img a img {
	width: 100px;
	float: left;
}
/*hero unit styling*/
.hero{
    font-size: 20px;
    text-align: center;
    height: 450px;
    background-image: url("../images/image.png");
    background-size: 1000px 500px;
    background-repeat: no-repeat;
    color:white;
}

.p{
	 width: 100%;
	 margin: 1%;
	 margin-left: 50px;
}

.c1{
	  width: 33%;
	  float: left;
	  font-family: sans-serif;
	  font-size: 20px;
	  margin-left: -50px;
	  padding-right: 70px;
	  align-content: center;
}

.c2{
	  width: 33%;
	  float: left;
	  font-size: 20px;
	  margin-left: -50px;
	  padding-right: 30px;
	  font-family: sans-serif;
	  align-content: center;
}

.c3{
	  width: 33%;
	  float: left;
	  font-size: 20px;
	  margin-left: 0px;
	  font-family: sans-serif;
	  align-content: right;
}
/*footer styling*/
.footer{
	  width: 100%;
	  background-color: gray;
}

.f1{
	width: 33%;
}

.f2{
	width: 33%;
	text-align: center;
}

.f3{
	width: 33%;

}

.f3 img{
	width: 20px;
	height: 20px;
}

.gen{
	width: 100%;
	margin-top: 30px;
}

.g1{
	width: 50%;
	float: left;
	text-align: left;
}

.g2{
	width: 50%;
	float: left;
	text-align: center;
	font-family: sans-serif;
	font-size: 20px;
	text-align: justify;
}

.g1 img{
	width: 400px;
	height:300px;
}

#headlines{
		text-align: center;
}

#entertainment{
		text-align: center;
}

#sports{
		text-align: center;
}

.imgsize{
		width: 20px;
		height: 20px;
}